table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    

  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr{
      width: 100%;
  }
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table tbody {
    justify-content: center;
    
  }


  table th {
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(36, 40, 90);
    color: white;
  }