/* Login Page CSS */

div.arrowdown {
    background-image: url(../../public/arrowdown.png);
    width: 40px;
    height: 34px;
    background-size: cover;
}

html * {
font-family: 'Open Sans', sans-serif;
}

.loginTitle{
font-size: 54px;

}

.deskImg{
   width: auto;
   height: 5%;
}

.imgTitleContainer{
    
}

label.form-label{
    font-size: 28px;
}

input.form-control{
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.contentContainer{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 12vh;
    width: fit-content;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.emailContainer{
    display: block;
    text-align: left;
}

.passwordContainer{
    display: block;
    text-align: left;
}

div.Login{
    background-image: url(../../public/classroomBackground.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100vw;
}

.loginTop.container {
    margin-top: 20px;
    margin-bottom: 5vh;
}



@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

.signInPassword{
    text-align: right;
    margin-top: 7px;
    width: 50%;
}

/* Student Landing Page */
.card {
    display:flex;
    margin: 100px;
    border: 1px solid black;
}

.navbar .nav-link {
    font-size: 15px;
    margin-left: 40px;
}

.buttons {
    position: relative;
    top: 70px;
    left: 100px;

}

.hideBtn {
    margin-left: 10px;
}

.bkgrnd {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.btn-add {
    background-color: green;
    border-color: green;
}

.btn-add:hover {
    background-color: rgb(1, 109, 1);
    border-color: rgb(1, 109, 1);
}


.changePasswordLink{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    margin: 1rem;
}





/*Profile Pages*/

.profileInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.tester{
    margin-top: -10vh;
    display: flex;
    height: 40vh;
    width: 40vw;
    
}

.profileRow{
    display: flex;
    padding: 1em;
    overflow: auto;
}

.profileButton{
    margin-top: 1em;
    display: flex;
}


/* StudentGreadeforSingleLecture page*/
.SLG-gradePoints-parent{
    margin-left: 2em;
    margin-top: 3em;
    color: black;
    display: flex;
}
.single-lecture-grade-info{
    
}
.single-lecture-grade-points-info{
    margin-top: 1em;
    margin-left: 15em;
    float: right;
    padding-right: 3em;
    border: 2px solid rgb(29, 34, 112);
}
.single-lecture-grade-table {
    width: 100%;
    height: 100vh;
    margin-top: 3em;
    margin-left: 2em;
    justify-content: center;
   
}
    
table {
    
    border: 2px solid rgb(29, 34, 112);
    width: 800px;
    height: 200px;
}
    
th {
    background-color: rgb(36, 40, 90);
    color: white;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black
}
    
td {
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* StudentGradebook page*/
.student-gradebook-grade-table{
    width: 100%;
    height: 100vh;
    margin-top: 3em;
    margin-left: 2em;
    justify-content: center;
}

#student-gradebook-grade-table-headline{
    font-weight: bold;
    color:black;
    font-size: large;
}

.student-gradebook-grade-table table{
    margin-bottom: 3em;
    margin-left:auto;
    margin-right:auto;
}

#student-gradebook-info {
    margin-top: 3em;
    text-align: center;
 
    
}

.delete {
    background-color: red;
    border-color: red
}

.addQuestion {
    padding: 40px;
}

input {
    width:400px;
}

.qButton {
    margin-top: 20px;   
    margin-right: 10px;
}

.qstion {
    margin-bottom: 20px;
}

.loginContainer {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
}

.loginBtn {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: green;
}

.badRequest {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.successRequest {
    text-align: center;
    margin-top: 20px;
}


/* Single Course Page CSS */
.singleCourseContainer {
    padding: 20px;
    display: block;
    width: fit-content;
    height: fit-content;
    text-align: center;

}

.singleCourseDetails {
    border: 4px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    color: black;
}

.singleCourseBtnDiv {
    padding-top: 20px;

}

/* ResetPassword Page Styling */

.confirmationCodeDivContainer {
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    display: block;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 10px;
}