#auth {
    display: flex;
    width: 100%;
    
    .leftContainer {
        position: relative;
        width: 50%;
        background-color: var(--splash);
        border-radius: 0 50px 50px 0;
        
        .welcomeBox {
            position: relative;
            padding: 10vh 5vw;
            height: 100%;
            
            .classroomLink {
                font-size: 36px;
                font-weight: bold;
                color: black;
                
                .classroomIcon {
                    margin-right: 8px;
                }
            }
            
            .textBox {
                margin-top: 3vh;
                width: 70%;
                
                .subText {
                    font-size: 30px;
                    color: gray;
                }
            }

            .homeButton {
                position: absolute;
                bottom: 5vw;
                font-size: 18px;
                color: black;
                text-decoration: none;
                border-radius: 13px;
                background-color: var(--splash);
                padding: 15px;
                
                img {
                    padding: 0px 10px 3px 5px;
                    height: 18px;
                }
                
                &:hover {
                    background-color: var(--primary);
                    transition: .4s ease;
                }
            }
        }
    }

    .rightContainer {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .loginSection {
            padding: 0 15%;
            
            .switch {
                left: 50%;
                transform: translateX(-50%);
                margin-top: 32px;
                position: relative;
                display: inline-block;
                width: 400px;
                height: 56px;
                border: 2px var(--accent) solid;
                border-radius: 15px;
                
                #studentText, #teacherText {
                    cursor: pointer;
                    z-index: 99;
                    color: black;
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -50%);
                }

                #studentText {
                    left: 12%;
                }

                #teacherText {
                    right: 12%;
                }
                
                .teacherCheck {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    
                    &:checked + .slider:before {
                        transform: translateX(196px);
                    }
                }
                
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 15px;
                    
                    &:before {
                        position: absolute;
                        content: "";
                        height: 56px;
                        width: 208px;
                        left: -2px;
                        bottom: -2px;
                        background-color: var(--splash);
                        transition: 0.4s;
                        border-radius: 13px;
                    }
                }
            }
            
            .inputContainer {
                margin-top: 40px;
                background:transparent;
                border: none;
                border-bottom: 1px solid var(--accent);
                padding-left: 6px;
                width: 100%;
            }
            
            .firstNameContainer {
                width: 45% !important;
                float: left;
            }

            .lastNameContainer {
                width: 45% !important;
                margin-left: 10%;
            }
            
            .changePasswordLink {
                display: block;
                margin-top: 20px;
                color: gray;
                text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                }
            }
            
            .submitButton {
                margin-top: 10vh;
            }
            
            .submitButton, .ssoButton {
                display: block;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border: 1px solid var(--splash);
                border-radius: 9px;
                width: 256px;
                height: 48px;
                transition: 0.4s;
                background-color: var(--splash);
                
                &:hover {
                    border: 1px solid black;
                    background-color: var(--primary);
                }
            }
            
            .orSSOText {
                margin: 20px 0;
                display: flex;
                justify-content: center;
                color: var(--accent);
            }
        }
    }
}
