.course-card
{
	min-width: 1px; /* min-width should be removed from index */
					/* styling should eventually be re done to fit more types of screens*/

	position: relative;
	border-radius: 25px;

	width: 225px;
	height: 225px;
	background-color: #D9D9D9;

	display: inline-block;
	padding: 25px;
	margin: 15px;
}

.course-header
{
	margin-top: 10px;
	position: absolute;
}

.course-header h1
{
	font-size: 20px;
}

.course-header h2
{
	font-size: 18px;
}

.course-body
{
	position: absolute;
	bottom: 25px;
	width: 83.4%; /* .2 pixels too far to the right compared to padding */
	height: 25%;

	display: flex;
}

.registered
{
	margin-top: auto;

	font-weight: bold;
	font-size: 12px;
}

.viewButton
{
	align-self: center;
	width: 75px;
	height: 40px;

	border-radius: 18px;
	margin-left: auto; /* Positions to the right */
	background-color: #85C68A;

	/* text */
	font-weight: 700;
	font-size: 18px;

	padding-top: 6%; /* thanks for nothing, <center>*/
	color: white;
	text-decoration: none;
}

.viewButton center
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}