.landing-page {
    width: 100%;
    
    .user-courses {
        .landing-header {
            margin-top: 32px;
            
            #landing-subtitle {
                font-size: 27px;
                margin-left: 70px;
                display: inline;
                font-weight: bold;
            }
            
            .create-course, .join-course-form {
                display: inline;
                position: absolute;
                right: 75px;
                border-radius: 25px;
            }
            
            .create-course, .join-course {
                /* Border */
                border: 1px solid transparent;
                background-color: var(--splash);
                
                /* Contents*/
                height: 50px;
                font-weight: bold;
                padding: 10px 20px;
                
                &:hover {
                    border: 1px solid black;
                    background-color: var(--primary);
                }
            }
            
            .join-course-form {
                form div {
                    display: inline-block;
                    
                    #formJoinCourse {
                        height: 50px;
                        padding: 10px 20px;
                        border-radius: 25px 0 0 25px;
                    }
                }
                
                .join-course {
                    border-radius: 0 25px 25px 0;
                }
            }
        }

        .course-sort {
            margin: 15px 70px;
            
            span {
                /* Position */
                margin-right: 12px;

                /* Contents */
                font-size: 18px;
                font-weight: 500;
                color: var(--accent);
                cursor: pointer;

                &.selected {
                    color: black;
                }
            }
        }

        .courses {
            margin: 0px 50px;
        }
    }
}
