/* Home Page CSS */

#home{
    
}

/* Signup Page CSS */

#signUp{
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 1;
}

#studentText{
    cursor: pointer;
    z-index: 99;
    color:black;

    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(0%, -50%);
}

#teacherText{
    cursor: pointer;
    z-index: 99;
    color:black;

    position: absolute;
    top: 50%;
    right: 12%;
    transform: translate(0%, -50%);
}

.switch {
    margin-top: 32px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: inline-block;
    width: 400px;
    height: 56px;
    border: 2px black solid;
    border-radius: 15px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 56px;
  width: 208px;
  bottom: -2px;
  left: -4px;
  background-color: #D2DFD3;
  -webkit-transition: .4s;
  transition: .8s;

  border-radius: 15px;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(196px);
  -ms-transform: translateX(196px);
  transform: translateX(196px);
}


.firstNameContainer{
    width: 45% !important;
    float: left;
}

.lastNameContainer{
    width: 45% !important;
    margin-left: 10%;
}

/* Login Page CSS */


html{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}

#root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.mainBody{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;  
}

#login{
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 1;
}

.classroomIcon
{
    height: 43px;
    margin-right: 8px;
}

.classroomLink
{
    font-size: 36px;
    font-weight: bold;
    color: black;
}

/*leftContainer takes up 46% of the left screen*/
.leftContainer{
    position: relative;
    width: 46%;
    min-width: 210px;
    background-color: rgb(210, 223, 211);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.rightContainer{
    position: relative;
    flex: 1;
}

.welcomeBox{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 40%;
    padding-left: 10%;
}

.textBox{
    margin-top: 3vh;
    width: 72%;
}

.mainText{
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px; /* without this, margin-bottom is 50, I have no idea why */
}

.subText{
    font-size: 30px;
    color: gray;
    text-decoration: underline;
    margin-top: 1vh; /* margin-top has no effect, I dont know why*/
}

.linkBox{
    margin-top: 3vh;
}

/* TODO: More visually appealing button*/
.homeButton{
    font-size: 18px;
    color: black;
    text-decoration: none;

    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    background-color: transparent;

    /* Icon attached to button using background image*/
    background: url(../../public/arrow-left-solid.svg);
    background-position: 142px 7px;
    background-repeat: no-repeat;
    background-size: 12px;

    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 36px;
}

.homeButton:hover{
    color: black;
    background-color: #76B47B;
}

.loginSection{
    position: relative;
    top: 15%;
    width: 100%;
    height: 60%;
    padding-left: 15%;
    padding-right: 15%;
}

.formLoginContainer{
    margin-top: 3vh;
}

.inputContainer{
    margin-top: 40px;
    background:transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding-left: 6px;
    width: 100%;
}

.emailContainer{

}

.passwordContainer{

}

.submitButton{
    display: block;
    position: relative;
    margin-top: 10vh;
    left: 50%;
    transform: translateX(-50%);

    border: none;
    border-radius: 5px;

    width: 256px;
    height: 48px;

    color: white;

    /* Icon attached to button using background image*/
    padding-right: 32px;
    background: #76B47B url(../../public/Arrow_left_long.png);
    background-position: 150px 12px;
    background-repeat: no-repeat;
    background-size: 30px;
}

/*free SSO icon source: https://thenounproject.com/browse/icons/term/sso/*/
.ssoButton{
    display: block;
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    border: none;
    border-radius: 5px;

    width: 256px;
    height: 48px;

    color: white;
    font-weight: bold;

    /* Icon attached to button using background image*/
    padding-left: 32px;
    background: #76B47B url(../../public/ssoIcon.png);
    background-position: 28px 8px;
    background-repeat: no-repeat;
    background-size: 32px;
}


.changePasswordLink{
    display: block;
    margin-top: 20px;
    color: gray;
    text-decoration: none;
}

.changePasswordLink:hover{
    text-decoration: underline;
}

/*TODO: Horizonal line on either side of or text*/
.orSSOText{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: gray;
    font-weight: bold;
}

/* Student Landing Page */
.card {
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px lightgrey;
}

.navbar .nav-link {
    font-size: 15px;
    margin-left: 40px;
}

.buttons {
    position: relative;
    top: 70px;
    left: 100px;

}

.hideBtn {
    margin-left: 10px;
}

.bkgrnd {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.btn-add {
    background-color: green;
    border-color: green;
}

.btn-add:hover {
    background-color: rgb(1, 109, 1);
    border-color: rgb(1, 109, 1);
}





/*Profile Pages*/

.profileInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.tester{
    margin-top: -10vh;
    display: flex;
    height: 40vh;
    width: 40vw;
    
}

.profileRow{
    display: flex;
    padding: 1em;
    overflow: auto;
}

.profileButton{
    margin-top: 1em;
    display: flex;
}


/* StudentGreadeforSingleLecture page*/
.SLG-gradePoints-parent{
    margin-left: 2em;
    margin-top: 3em;
    color: black;
    display: flex;
}
.single-lecture-grade-info{
    
}
.single-lecture-grade-points-info{
    margin-top: 1em;
    margin-left: 15em;
    float: right;
    padding-right: 3em;
    border: 2px solid rgb(29, 34, 112);
}
.single-lecture-grade-table {
    width: 100%;
    height: 100vh;
    margin-top: 3em;
    margin-left: 2em;
    justify-content: center;
   
}
    
table {
    
    border: 2px solid rgb(29, 34, 112);
    width: 800px;
    height: 200px;
}
    
th {
    background-color: rgb(36, 40, 90);
    color: white;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black
}
    
td {
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* StudentGradebook page*/
.student-gradebook-grade-table{
    width: 100%;
    height: 100vh;
    margin-top: 3em;
    margin-left: 2em;
    justify-content: center;
}

#student-gradebook-grade-table-headline{
    font-weight: bold;
    color:black;
    font-size: large;
}

.student-gradebook-grade-table table{
    margin-bottom: 3em;
    margin-left:auto;
    margin-right:auto;
}

#student-gradebook-info {
    margin-top: 3em;
    text-align: center;
 
    
}

.delete {
    background-color: red;
    border-color: red
}

.addQuestion {
    padding: 40px;
}

input {
    width:400px;
}

.qButton {
    margin-top: 20px;   
    margin-right: 10px;
}

.qstion {
    margin-bottom: 20px;
}

.loginContainer {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
}

.loginBtn {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: green;
}

.badRequest {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.successRequest {
    text-align: center;
    margin-top: 20px;
}


/* Single Course Page CSS */
.singleCourseContainer {
    padding: 20px;
    display: block;
    width: fit-content;
    height: fit-content;
    text-align: center;

}

.singleCourseDetails {
    border: 4px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    color: black;
}

.singleCourseBtnDiv {
    padding-top: 20px;

}

/* ResetPassword Page Styling */

.confirmationCodeDivContainer {
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    display: block;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 10px;
}

/* Landing Page */
.landing-page {
    width: 100%;
}

#join-course {
    width: 30%;
    padding-top: 20px;
    padding-left: 100px;
}

#landing-subtitle{
    padding-top: 20px;
    padding-left: 100px;
    font-size: 27px;
}

#create-course-btn {
    margin-left: 100px;
    margin-bottom: 20px;
    
}

hr {
    border-top: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
}

.courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.course-card {
    min-width: 300px;
    width: 30%;
}

/* Lectures */

.lectures {
    width: 100%;
}

.lectures-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 20px;
}

#lectures-subtitle {
    font-size: 27px;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 0px;
}

.lecture-card {
    min-width: 300px;
    width: 29%;
}

.create-lecture-btn {
    margin-left: auto;
    margin-top: auto;
}

/* Back button */

.back-btn {
    width: 40px;
    background-image: url(../../public/free-back-arrow-1767531-1502435.webp);
    background-size: cover;
    border: none;
    background-color: transparent;
}

.back-btn:hover {
    border: none;
    background-color: transparent;
}

.back-btn-lectures {
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.lectures-top-bar {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

/* Create */

.create-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

.create-bar {
    display: flex;
    flex-direction: row;
}

.back-btn-create {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
}

.create-subtitle {
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.create-hr-bar {
    margin-left: 0px;
    margin-right: 0px;
}

.inputPublishedContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.create-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#create-submit {
    margin-left: 10px;
}

.inputOrderContainer {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#lecture-order-subtitle {
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#lecture-order-textentry {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

/* Lecture */
.lecture-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lecture-page-container {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.lecture-subtitle {
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.lecture-hr {
    margin-left: 0px;
    margin-right: 0px;
}

.lecture-header-btns {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.lecture-publish-switch{
    margin-left: auto;
}

.lecture-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 20px;
}